<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela&display=swap" rel="stylesheet"> 
    
    <!-- tailwindcss -->
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>{% block title %}EasyJournal{% endblock title %}</title>
</head>
<body style="height: 100vh;" class="flex flex-col">
    
    <!-- Navbar of the authentication templates  -->
    <nav class="shadow-md font-raleway bg-rich-black-fogra text-baby-powder">
        <!-- Outer container of the navbar -->
        <div class="flex justify-between px-12 lg:px-32 py-4">
            <!-- Inner containers of the navbar-->
            <div class="flex items-center md:space-x-10">
                <!-- logo -->
                <div class="text-xl md:text-xl text-green-500"><a href="{% url 'home:home' %}"><span class="font-extrabold">easy</span><span class="font-extrabold">JOURNAL</span></a></div>
                <!-- primary nav -->
                <div class="space-x-2">
                    <a href="#" class="nav-link-1">home</a>
                    <a href="#" class="nav-link-1">about</a>
                </div>
            </div>
            <!-- secondary nav-->
            <div class="items-center space-x-3">
                <a href="{% url 'account_login' %}" class="nav-link-1">login</a>
                <a href="{% url 'account_signup' %}" class="bg-orange-peel py-2 px-2 rounded-md text-xl text-black font-bold hover:bg-tiffany-blue transition delay-150 duration-300 ease-in-out">signup</a>
            </div>
        </div>
    </nav>

    <div class="font-monserrat bg-baby-powder">
        {% block content %}
        
        {% endblock content %}
    </div>

    <!-- Footer of the authentication templates -->
    <footer class="bg-gray-800 text-white w-full mt-auto" style="">
        <div class="">
            <div class="">
                <p class="text-center py-5 font-bold">&copy; 2021 - easyjournal.io</p>
            </div>
        </div>
    </footer>
</body>
</html>