<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}">
    <title>{% block title %}EasyJournal{% endblock title %}</title>
</head>
<body style="height: 100vh;" class="flex flex-col">
    
    <!-- Navbar of the authentication templates  -->
    <nav class="bg-white border-b-2 border-gray-200 shadow-sm">
        <!-- Outer container of the navbar -->
        <div class="flex justify-between px-12 py-3">
            <!-- Inner containers of the navbar-->
            <div class="flex items-center">
                <!-- logo -->
                <div class="mr-5"><span class="font-medium text-red-700">easy</span><span class="font-bold text-blue-900">Journal</span></div>
                <!-- primary nav -->
                <div class="space-x-2">
                    <a href="#" class="text-gray-600 hover:text-black font-bold">Home</a>
                    <a href="#" class="text-gray-600 hover:text-black font-bold">About</a>
                </div>
            </div>
            <!-- secondary nav-->
            <div class="items-center space-x-3">
                <a href="{% url 'account_login' %}" class="text-gray-600 hover:text-black font-bold">Login</a>
                <a href="{% url 'account_signup' %}" class="text-gray-600 hover:text-black font-bold">Signup</a>
            </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock content %}

    <!-- Footer of the authentication templates -->
    <footer class="bg-gray-800 text-white w-full mt-auto" style="">
        <div class="">
            <div class="">
                <p class="text-center py-5 font-bold">&copy; 2021 - easyjournal.io</p>
            </div>
        </div>
    </footer>
</body>
</html>