<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela&display=swap" rel="stylesheet"> 
    
    <!-- tailwindcss -->
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>{% block title %}EasyJournal{% endblock title %}</title>
</head>
<body style="height: 100vh;" class="flex flex-col">
    
    <!-- Navbar of the authentication templates  -->
    <nav class="bg-white border-b-2 border-gray-200 shadow-sm font-raleway">
        <!-- Outer container of the navbar -->
        <div class="flex justify-between px-12 lg:px-32 py-3">
            <!-- Inner containers of the navbar-->
            <div class="flex items-center">
                <!-- logo -->
                <div class="text-xl mr-5"><a href="{% url 'home:home' %}"><span class="font-extrabold text-red-500">easy</span><span class="font-medium text-blue-900">JOURNAL</span></a></div>
                <!-- primary nav -->
                <div class="space-x-2">
                    <a href="#" class="acc-nav-link">home</a>
                    <a href="#" class="acc-nav-link">about</a>
                </div>
            </div>
            <!-- secondary nav-->
            <div class="items-center space-x-3">
                <a href="{% url 'account_login' %}" class="acc-nav-link">login</a>
                <a href="{% url 'account_signup' %}" class="text-xl text-purple-500 hover:text-purple-700 font-bold">signup</a>
            </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock content %}

    <!-- Footer of the authentication templates -->
    <footer class="bg-gray-800 text-white w-full mt-auto" style="">
        <div class="">
            <div class="">
                <p class="text-center py-5 font-bold">&copy; 2021 - easyjournal.io</p>
            </div>
        </div>
    </footer>
</body>
</html>