.main {
    margin-left: 14rem;
}

main {
    padding: 1rem;
}

#side-navbar {
    width: 14rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

/* nav items */

.nav-items a {
    display: block;
    padding: 0.75rem;
    transition: all 0.7s;
    font-weight: 500;
}

.nav-items a i {
    font-size: 1rem;
}

.nav-items a:hover {
    background-color: rgba(102, 51, 153, 0.801);
}

.mobile-nav {
    display:  none;
}
