<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind/tailwind.css' %}" />
    <title>{% block title %}Dashboard - {% endblock %}</title>
    <style>
        ul li {
            font-size: 1.2rem; 
            padding: 0.2rem 0;
            font-weight: 600;
            color: blue;
        }

        ul li:hover {
            background-color: black;
            color: white;
            padding-left: 0.4rem;
        }
    </style>
</head>
<body>

    <!--
        top navigation bar
        side navigation bar
        the work area
    -->
    <!-- This is the top navigation of the dashboard -->
    <nav class="bg-gray-100 shadow-md py-4">
        <div class="flex justify-between px-44">
            <!-- Primary navigation -->
            <div>
                <!-- Logo label -->
                <label class="text-xl font-bold text-red-600">EasyJournal</label>
            </div>
            <!-- Secondaary navigation -->
            <div>
                <a href="#" class="align-middle text-gray-800">{{ user.email }}</a>
            </div>
        </div>
    </nav>

    <!-- Contains the side navigation bar and the main work area -->
    <div class="px-44 mt-3">

        <!-- This is the side navigation bar-->
        <div class="flex flex-col px-4 border-t-2 border-r-2 gray-900 shadow-md" style="width: 200px; position: fixed; height: 100vh">
            <a href="#" class="font-bold text-xl pb-3">My Dashboard</a>

            <p class="text-lg text-center font-bold text-gray-800 py-3">My Journals</p>
            <ul>
                <li><a href="#">Journal One</a></li>
                <li><a href="#">Journal Two</a></li>
                <li><a href="#">Journal Three</a></li>
                <li><a href="#">Journal Four</a></li>
                <li><a href="#">Journal Five</a></li>
            </ul>

            <!-- all journals link -->
            <a href="#" class="">view all</a>

            <!-- button to add a new journal -->
            <a href="#" class="font-bold text-lg bg-gray-800 text-white">Add New</a>

            <!-- profile link -->
            <a href="#" class="mt-auto">Profile</a>
        </div>

        <!-- This is the main work area -->
        <main class="bg-blue-500 px-6" style="margin-left: 220px">
            {% block content %}

            {% endblock content %}
        </main>
    </div>



</body>
</html>