<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'icons/fontawesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>{% block title %}Dashboard{% endblock title %}</title>
</head>
<body>
    
    <nav id="side-navbar" class="bg-gray-900 font-mono">
        <!-- Large screen navigation-->
        <div class="flex flex-col large-screen-nav" style="height: 100vh">
            <!-- Logo -->
            <p class="font-extrabold text-center text-2xl text-gray-200 py-2 bg-gray-900 font-serif">EasyJournal</p>
            <hr>

            <!-- Menu Items -->
            <div class="my-5 text-white">
                <h1 class="font-sans font-bold text-gray-300 text-xl text-center py-2"><i class="fas fa-book"></i>  My Journals</h1>

                <ul class="nav-items text-sm text-left">
                    <a href="#"><i class="fas fa-book-open"></i> Journal One</a>
                    <a href="#"><i class="fas fa-book-open"></i> Journal Two</a>
                    <a href="#"> <i class="fas fa-book-open"></i> Journal Three</a>
                    <a href="#"><i class="fas fa-book-open"></i> Journal Four</a>
                    <a href="#"><i class="fas fa-book-open"></i> Journal Five</a>
                </ul>

                <div class="mb-5">
                    <p class="text-center text-3xl font-bold">...</p>
                    <a href="#" class="text-center text-blue-600 hover:text-blue-800 block py-1">View All Journals</a>
                </div>

                <div class="flex justify-around mt-1">
                    <a href="#" class="bg-purple-600 hover:bg-purple-700 px-2 text-sm py-2 rounded-md"><i class="fas fa-plus    "></i> Add New Journal</a>
                </div>
            </div>

            <a href="" class="mt-auto w-full bg-black hover:bg-white hover:text-black font-mono text-center font-bold text-white py-2 text-xl">Profile</a>
        </div>
        
        <!-- Mobile Navigation -->
        <ul class="mobile-nav text-white flex justify-around">
            <li>
                <i class="fas fa-home"></i>
                <span>home</span>
            </li>
            <li>
                <i class="fas fa-book"></i>
                <span>journals</span>
            </li>
            <li>
                <i class="fas fa-plus-circle"></i>
                <span>add new</span>
            </li>
            <li>
                <i class="fas fa-user-circle"></i>
                <span>profile</span>
            </li>
        </ul>
    </nav>

    <!-- Top navbar and the main content -->
    <div class="main">
        <nav class="bg-gray-800 text-white shadow-2xl lg:px-36">
            <div class="flex justify-end px-4 py-3">
                <div>
                    {{ user.email }}
                </div>
            </div>
        </nav>

        <main class="bg-gray-100 p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque distinctio sit repellendus. Itaque amet ratione quod sapiente aperiam libero nihil assumenda, hic obcaecati tempora, quia, id nulla necessitatibus autem nemo?
            {% block content %}{% endblock %}
        </main>
    </div>

</body>
</html>