{% extends 'users/base.html' %}
{% load account %}
{% user_display user %}

{% block title %}User Profile{% endblock title %}


{% block content %}

    <div class="flex flex-col px-32">

        {% if messages %}
            <div>
                {% for message in message %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <h1 class="text-bold text-2xl">Profile</h1>
            <p>email: {{ user.email }}</p>
        </div>

        <a href="{% url 'account_logout' %}" class="bg-red-600 px-8 py-2 font-bold text-white mt-auto">LOGOUT</a>
    </div>

    <div>

{% endblock content %}