{% extends 'dashboard/base.html' %}
{% load account %}
{% user_display user %}

{% block title %}User Profile{% endblock title %}


{% block content %}

    <div class="">

        {% if messages %}
            <div>
                {% for message in message %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <h1 class="text-bold text-2xl">Profile</h1>
            <p>email: {{ user.email }}</p>
        </div>

        <a href="{% url 'account_logout' %}" class="link-1">LOGOUT</a>
    </div>

    <div>

{% endblock content %}